.header {
  background-color: rgba(0, 242, 255, 0.74);
}
.header__content {
  max-width: 900px;
  margin: 0 auto;
}
.header__menu {
  
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 30px 15px;
}
.header__menu-item {
  list-style: none;
}
.header__menu-item:hover{
  text-decoration: underline;
} 
.header__menu-link{
  color: black;
  text-decoration: none;
}
.header__menu-link:hover{
  color: white;
}
main{
  background-color: rgba(0, 208, 255, 0.657);
}
.main__header{
  max-width: 900px;
  margin: 0 auto;
  font-size: 34px;
  text-align: center;
  padding: 25px;
}
.main__content{
  max-width: 900px;
  margin: 0 auto;
}
.about-me {
}
.subtitle {
  margin: 15px auto;
  text-align: center;
}
.about-me__content {
  display: flex;
  justify-content: space-between;
}
.about-me__img {
  max-width: 35%;
  margin-right: 40px;
}
.about-me__text {
  margin: 120px 0;
}
.contact {
  padding: 35px 0;
}
.contact__list{
  list-style: none;
  padding: 0;
}
.contact__text {
  margin: 0;
}
.contact__text_span {
  font-weight: bold;
}
.skills {
  padding: 35px 0;
}
.skills__list {
  
}
.skills__item {
  margin: 5px 0;
}
.code{
  padding: 35px 0;
}
.code pre{
  background-color: white;
}
.code__text{
  margin: 0 auto;
}
.projects {
  padding: 35px 0;
}
.link {
  text-decoration: none;
}
.education {
  padding: 35px 0;
}
.education__text {
}
.education__list {
}
.education__item {
}
.courses {
  padding: 35px 0;
}
.languages {
  padding: 35px 0;
}
.footer {
  background-color: rgba(0, 242, 255, 0.74);
}
.footer__content {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__git {
  max-width: 45px;
}
.footer__text {
  margin: 0;
}
.footer__rs {
  width: 100px;
}
